---
import ArrowIcon from "@components/Icons/ArrowIcon.astro";

interface Props {
    class: string;
    title: string;
    year: string;
    linkTo: string;
    linkAccessibleName: string;
}

const { class: classList, title, year, linkTo, linkAccessibleName } = Astro.props;
---

<div class:list={["px-default flex min-h-screen items-center", classList]}>
    <div class="w-full">
        <div class:list={["flex justify-between gap-8", "flex-col", "lg:flex-row-reverse"]}>
            <a
                href={linkTo}
                aria-label={linkAccessibleName}
                class:list={["aspect-square ", "self-center md:max-w-[682px]", "lg:basis-1/2"]}
            >
                <slot name="image" />
            </a>
            <div class:list={["flex max-w-[682px] flex-col", "lg:basis-1/2"]}>
                <div>
                    <div class="text-header__2">
                        <span>{title}</span>
                        <sup class="text-paragraph__normal align-top">({year})</sup>
                    </div>
                    <div class="text-paragraph__normal">
                        <slot name="services" />
                    </div>
                </div>
                <p class:list={["text-paragraph__normal mb-16 mt-12", "md:flex-grow"]}>
                    <slot name="description" />
                </p>
                <a
                    href={linkTo}
                    aria-label={linkAccessibleName}
                    class="max-w-fit font-olympic text-[2rem] font-light -tracking-[0.04rem] sm:text-[3.375rem] sm:-tracking-[0.0675rem]"
                >
                    see more
                    <ArrowIcon
                        class="ml-1 inline-block h-[20px] w-[20px] fill-dark-chocolate align-baseline sm:ml-2 sm:h-[32px] sm:w-[32px]"
                    />
                </a>
            </div>
        </div>
    </div>
</div>
