---
import PictureLink from "@components/PictureLink.astro";
import Quote from "@components/Quote.astro";
import LayoutProjects from "@layouts/LayoutProjects.astro";
import { Image } from "astro:assets";

import background from "@assets/projects/patchwork/bg-patchwork.jpg";
import psykologkompassenThumbnail from "@assets/thumbnails/psykologkompassen.jpg";
import bag from "@assets/projects/patchwork/bag.jpg";
import bussinesCard from "@assets/projects/patchwork/business-card.jpg";
import instagram from "@assets/projects/patchwork/instagram.jpg";
import presentationLaptop from "@assets/projects/patchwork/presentation-laptop.jpg";
import tshirt from "@assets/projects/patchwork/tshirt.jpg";
---

<LayoutProjects title="project patchwork">
    <Fragment slot="hero-background">
        <Image
            src={background}
            width={1920}
            height={1080}
            loading="eager"
            alt='posters of patchwork organization in the urban landscape with slogans "in Poland I will build a new home", "different does not mean worse", "diversity unites"'
            class:list={["object-[58%_0%]", "sm:object-center"]}
        />
    </Fragment>
    <Fragment slot="services-list">
        <li>Brand identity</li>
    </Fragment>
    <Fragment slot="project-title">Patchwork</Fragment>
    <Fragment slot="project-description">
        <p>
            Patchwork, an association for immigrant families of people with disabilities, embodies unity in diversity.
            Its name reflects the fusion of diverse experiences into something unique, capturing their serious,
            heartfelt work without unnecessary pathos.
        </p>
        <p>
            The color palette reflects their values - beige signifies equality and harmony, while warm reds and oranges
            emanate fervor and support. Blues represent professionalism, reliability, and unwavering commitment.
            Accessibility was paramount here; the chosen typography ensures maximum readability, available in both Latin
            and Cyrillic characters for effective communication within their diverse community.
        </p>
        <p>
            Patchwork's members spirit, despite facing dramatic challenges like fleeing the war in Ukraine, radiates
            hope and resilience. Patchwork stitches unity and positivity into its vibrant tapestry, a beacon of
            inspiration amidst life's trials.
        </p>
    </Fragment>
    <Fragment slot="images">
        <Image
            class:list={["col-span-6", "lg:col-span-2"]}
            src={bag}
            alt="A tote bag with bold orange and red patterns showcased on a background of a wall"
            width={Math.floor(bag.width / 2)}
        />
        <Image
            class:list={["col-span-6", "lg:col-span-2 lg:col-start-3"]}
            src={bussinesCard}
            alt="a person browsing Instagram, seeing a post with colorful graphics and text boxes"
            width={Math.floor(bussinesCard.width / 2)}
        />
        <Image
            class:list={["col-span-6", "lg:col-span-2 lg:col-start-5"]}
            src={instagram}
            alt="two colorful business cards for Patchwork organisation laid out on a blue fabric"
            width={Math.floor(instagram.width / 2)}
            quality="max"
        />
        <Image
            class:list={["col-span-6 bg-white ", "lg:col-span-3"]}
            src={tshirt}
            alt="A person wearing a vibrant t-shirt with a colorful line design and Patchwork organisation logo"
            width={Math.floor(tshirt.width / 2)}
            quality="max"
        />
        <Image
            class:list={["col-span-6 object-center", "lg:col-span-3"]}
            src={presentationLaptop}
            alt='a side view of a woman using a laptop to browse an informative presentation, displayed text says: "6 out of 10 people experience feeling of loneliness"'
            width={Math.floor(presentationLaptop.width / 2)}
        />
    </Fragment>
    <Quote author="Maria bukhanovskaia, the co-founder of the association" slot="quote">
        Aleksandra was both creative, and very attentive to our needs. We are satisfied with the work Aleksandra did for
        us - she is a talented designer, which we can highly recommend!
    </Quote>
    <PictureLink
        slot="link"
        title="Psykolog<wbr>kompassen"
        subTitle="Next up"
        linkTo="/project/psykologkompassen"
        linkAccessibleName='link to project: "Psykologkompassen"'
        src={psykologkompassenThumbnail}
        alt=""
    />
</LayoutProjects>
