---
import PictureLink from "@components/PictureLink.astro";
import Quote from "@components/Quote.astro";
import LayoutProjects from "@layouts/LayoutProjects.astro";
import boskaThumbnail from "@assets/thumbnails/BOSKA.jpg";
import ImageWithLoading from "@components/ImageWithLoading.astro";

import background from "@assets/projects/psykologkompassen/bg-psykologkompassen.jpg";
import backgroundLoading from "@assets/projects/psykologkompassen/bg-psykologkompassen-loading.jpg";
import windowSticker from "@assets/projects/psykologkompassen/grid-1.jpg";
import windowStickerLoading from "@assets/projects/psykologkompassen/grid-1-loading.jpg";
import wrappingPaper from "@assets/projects/psykologkompassen/grid-2.png";
import wrappingPaperLoading from "@assets/projects/psykologkompassen/grid-2-loading.png";
import businessCard from "@assets/projects/psykologkompassen/grid-3.png";
import businessCardLoading from "@assets/projects/psykologkompassen/grid-3-loading.png";
import catalog from "@assets/projects/psykologkompassen/grid-4.jpg";
import catalogLoading from "@assets/projects/psykologkompassen/grid-4-loading.jpg";
import logoExplanation from "@assets/projects/psykologkompassen/grid-5.png";
import logoExplanationLoading from "@assets/projects/psykologkompassen/grid-5-loading.png";
// TODO alt for bg
---

<LayoutProjects title="project psykologkompassen">
    <Fragment slot="hero-background">
        <ImageWithLoading
            src={background}
            srcLoading={backgroundLoading}
            width={1920}
            height={1080}
            loading="eager"
            alt='a photograph showing a newsstand booth displaying two ad posters advertising Psykologkompassen psychology office; the posters present people walking in wilderness and text in Swedish meaning "Where do you want to go? We will lead you there." and "What do you do when you feel lost?"'
            classImage="object-[30%_0%]"
            class="bg-[30%_0%]"
        />
    </Fragment>
    <Fragment slot="services-list">
        <li>Logotype design</li>
        <li>Brand identity</li>
    </Fragment>
    <Fragment slot="project-title">Psykologkompassen</Fragment>
    <Fragment slot="project-description">
        <p>
            The name of the company derives from the psychological need for an inner compass. In order to feel satisfied
            and fulfilled, humans need to have a purpose. It can guide and support them, especially when they need to
            decide which road to take in their life journey.
        </p>
        <p>
            Psykologkompassen's name itself resonates with the very essence of purpose – that magnetic pull that draws
            us towards fulfillment. We intertwined this concept into every visual element, so clients could feel the
            North Star of purpose in every interaction.
        </p>
        <p>
            The visual communication is connected with the name behind meaning and corresponds with the beauty of North
            Swedish nature. Each visual element tells a tale of discovery, mirroring the journey of those seeking
            direction amidst life's vast landscape. I wanted to tell a story of a person seeking a right pathway for
            themselves, finding a way in life and embracing the process.
        </p>
        <p>
            Our branding was a catalyst, turning a mere company into a compass that points to purpose. Clients aren't
            just customers; they're explorers, and Psykologkompassen is their trusted guide.
        </p>
    </Fragment>
    <Fragment slot="images">
        <ImageWithLoading
            class="col-span-6 lg:col-span-2"
            src={windowSticker}
            srcLoading={windowStickerLoading}
            alt="Psykologkompassen logo presented as a sticker on a window glass"
            width={Math.floor(windowSticker.width / 2)}
        />
        <ImageWithLoading
            class="col-span-6 lg:col-span-2 lg:col-start-3"
            src={wrappingPaper}
            srcLoading={wrappingPaperLoading}
            alt="a wrapping paper with the pattern made out of Psykologkompassen logo symbol"
            width={Math.floor(wrappingPaper.width / 2)}
        />
        <ImageWithLoading
            class="col-span-6 lg:col-span-2 lg:col-start-5"
            src={businessCard}
            srcLoading={businessCardLoading}
            alt="a close up of two hands passing each other business card with details of the owner of Psykologkompassen"
            width={Math.floor(businessCard.width / 2)}
            quality="max"
        />
        <ImageWithLoading
            class="col-span-6 object-center lg:col-span-3"
            src={catalog}
            srcLoading={catalogLoading}
            alt="a stationery set presenting Psykologkompassen branding, including two sides of the business card, a black folder with the logo, a piece of branded paper and a white pen"
            width={Math.floor(catalog.width / 2)}
        />
        <ImageWithLoading
            class="col-span-6 lg:col-span-3"
            classImage="bg-white !object-contain"
            src={logoExplanation}
            srcLoading={logoExplanationLoading}
            alt="an image explaining the symbolism behind the logo of Psykologkompassen - shows the elements that the symbol corresponds to, such as a human, crossed paths, a star and a circle"
            width={Math.floor(logoExplanation.width / 2)}
            quality="max"
        />
    </Fragment>
    <Quote author="Monika Söderlund, CEO" slot="quote">
        It has been a great pleasure and very inspiring to hire Aleksandra. She has listened, asked and listened again.
        She has created a logo that I am happy and proud of. A unique logo - a symbol that tells what my company stands
        for. I can warmly recommend her.
    </Quote>
    <PictureLink
        slot="link"
        title="BOSKA body cast"
        subTitle="Next up"
        linkTo="/project/boska"
        linkAccessibleName='link to project: "BOSKA body cast"'
        src={boskaThumbnail}
        alt=""
    />
</LayoutProjects>
