---
import PictureLink from "@components/PictureLink.astro";
import Quote from "@components/Quote.astro";
import LayoutProjects from "@layouts/LayoutProjects.astro";
import { Image } from "astro:assets";

import patchworkThumbnail from "@assets/thumbnails/patchwork.jpg";
import voucher from "@assets/projects/sensus/voucher.png";
import clientCard from "@assets/projects/sensus/client-card.png";
import fbCover from "@assets/projects/sensus/fb-cover.png";
import massage from "@assets/projects/sensus/massage.png";
---

<LayoutProjects title="project sensus">
    <Fragment slot="hero-background">
        <!-- TODO: add poster to video -->
        <video autoplay loop muted>
            <source src="/videos/sensus-short-screen-720p.webm" type="video/webm" media="(min-width: 1024px)" />
            <source src="/videos/sensus-short-screen-720p.webm" type="video/mp4" media="(min-width: 1024px)" />
            <source src="/videos/sensus-short-square-720p.webm" type="video/webm" />
            <source src="/videos/sensus-short-square-720p.webm" type="video/mp4" />
            <meta
                itemprop="description"
                content="a video presenting a sequence of massage and displaying the logo of the sensus brand"
            />
             Your browser does not support the video tag.
        </video>
    </Fragment>
    <Fragment slot="services-list">
        <li>Art direction</li>
        <li>Brand identity</li>
        <li>Brand strategy</li>
        <li>Logo design</li>
    </Fragment>
    <Fragment slot="project-title">sensus</Fragment>
    <Fragment slot="project-description">
        <p>
            A sense (Latin sensus) is the way of humans contact with the world. Thanks to the sense organs, it is
            possible to experience, perceive and receive stimuli both from the outside and inside of the body. Sensus
            also means awareness, and the ability to correctly understand and organize sensory stimuli allows us to
            expand it
        </p>
        <p>
            I wanted to reflect the meaning of this word in the visual identity I created for Maria. Her goal was to
            create her own space focused on how a person functions as a whole. She shows how through external influence
            on the body we can help ourselves in many aspects of our lives.
        </p>
    </Fragment>
    <Fragment slot="images">
        <Image
            class:list={["col-span-6", "lg:col-span-2"]}
            src={massage}
            alt="a close-up photograph of masseur's hands massaging a foot in a calming, natural setting"
            width={massage.width}
            quality="max"
        />
        <!-- TODO: add poster to video -->
        <video autoplay loop muted class:list={["col-span-6", "lg:col-span-2 lg:col-start-3"]}>
            <source src="/videos/sensus-short-square-720p.webm" type="video/webm" />
            <source src="/videos/sensus-short-square-720p.webm" type="video/mp4" />
            <meta
                itemprop="description"
                content="a video presenting a sequence of massage and displaying the logo of the sensus brand"
            />
             Your browser does not support the video tag.
        </video>
        <Image
            class:list={["col-span-6", "lg:col-span-2 lg:col-start-5"]}
            src={voucher}
            alt="a voucher with sensus logo and contact details printed on a sage colored paper and displayed on a natural background with a shadow of a leaf"
            width={voucher.width}
            quality="max"
        />
        <Image
            class:list={["col-span-6 object-center", "lg:col-span-3"]}
            src={clientCard}
            alt="a sage green business card doubling as a loyal customer card, two cards, one on top of another, with a shadow of a plant on them"
            width={clientCard.width}
            quality="max"
        />
        <Image
            class:list={["col-span-6 object-right", "lg:col-span-3"]}
            src={fbCover}
            alt='a close up photo of a hand resting on an arm, the company tagline "the body is a wholeness" overlays on the image'
            width={fbCover.width}
            quality="max"
        />
    </Fragment>
    <Quote author="Maria Obszyńska, the owner" slot="quote">
        From the beginning of our collaboration, Aleksandra perfectly understood what I care about and what I expect,
        offering many valuable comments and ideas herself. The logo she crafted perfectly reflects the idea behind my
        company. The other materials complement it, resulting in a cohesive look of the entire project. I can highly
        recommend her services if you are looking for an exceptional, unique look for your company.
    </Quote>
    <PictureLink
        slot="link"
        title="Patchwork"
        subTitle="Next up"
        linkTo="/project/patchwork"
        linkAccessibleName='link to project: "Patchwork"'
        src={patchworkThumbnail}
        alt=""
    />
</LayoutProjects>
