---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";

import compass from "@assets/case-study/2.1.compass.png";
import map from "@assets/case-study/2.2.map.png";
import hand from "@assets/case-study/2.3.hand.png";

import cloud from "@assets/case-study/3.2.cloud.png";
import heart from "@assets/case-study/3.1.heart.png";
import pencil from "@assets/case-study/3.3.pencil.png";

import pointer from "@assets/case-study/4.1.pointer.png";
import browser from "@assets/case-study/4.2.browser.png";
import heart2 from "@assets/case-study/4.3.heart.png";

import megaphone from "@assets/case-study/5.1.megaphone.png";
import stars from "@assets/case-study/5.2.stars.png";

import Section from "@components/CaseStudy/Section.astro";
import AnimatedImage from "@components/CaseStudy/AnimatedImage.astro";

const IMG_SIZE = 500;
---

<Layout title="test">
    <Section class="bg-lilac">
        <Fragment slot="images">
            <AnimatedImage
                data-animation-path={[
                    [-1, -1],
                    [-20, 3],
                    [30, 0]
                ]}
            >
                <Image src={compass} alt="" width={IMG_SIZE} height={IMG_SIZE} />
            </AnimatedImage>
            <AnimatedImage
                data-animation-path={[
                    [-4, 4],
                    [-8, -4],
                    [-12, -2]
                ]}
            >
                <Image src={map} alt="" width={IMG_SIZE} height={IMG_SIZE} />
            </AnimatedImage>
            <AnimatedImage data-animation-path={[[15, 30]]}>
                <Image src={hand} alt="" width={IMG_SIZE} height={IMG_SIZE} />
            </AnimatedImage>
        </Fragment>
    </Section>
    <Section class="bg-ice-blue">
        <Fragment slot="images">
            <AnimatedImage
                data-animation-path={[
                    [-1, -1],
                    [-20, 3],
                    [30, 0]
                ]}
            >
                <Image src={cloud} alt="" width={IMG_SIZE} height={IMG_SIZE} />
            </AnimatedImage>
            <AnimatedImage
                data-animation-path={[
                    [-4, 4],
                    [-8, -4],
                    [-12, -2]
                ]}
            >
                <Image src={heart} alt="" width={IMG_SIZE} height={IMG_SIZE} />
            </AnimatedImage>
            <AnimatedImage data-animation-path={[[15, 30]]}>
                <Image src={pencil} alt="" width={IMG_SIZE} height={IMG_SIZE} />
            </AnimatedImage>
        </Fragment>
    </Section>
    <Section class="bg-tea-green">
        <Fragment slot="images">
            <AnimatedImage
                data-animation-path={[
                    [-1, -1],
                    [-20, 3],
                    [30, 0]
                ]}
            >
                <Image src={pointer} alt="" width={IMG_SIZE} height={IMG_SIZE} />
            </AnimatedImage>
            <AnimatedImage
                data-animation-path={[
                    [-4, 4],
                    [-8, -4],
                    [-12, -2]
                ]}
            >
                <Image src={browser} alt="" width={IMG_SIZE} height={IMG_SIZE} />
            </AnimatedImage>
            <AnimatedImage data-animation-path={[[15, 30]]}>
                <Image src={heart2} alt="" width={IMG_SIZE} height={IMG_SIZE} />
            </AnimatedImage>
        </Fragment>
    </Section>
    <Section class="bg-volt">
        <Fragment slot="images">
            <AnimatedImage
                data-animation-path={[
                    // [-1, -1],
                    // [-20, 3],
                    // [30, 0]
                ]}
            >
                <Image src={megaphone} alt="" width={IMG_SIZE} height={IMG_SIZE} />
            </AnimatedImage>
            <AnimatedImage
                data-animation-path={[
                    // [-4, 4],
                    // [-8, -4],
                    // [-12, -2]
                ]}
            >
                <Image src={stars} alt="" width={IMG_SIZE} height={IMG_SIZE} />
            </AnimatedImage>
        </Fragment>
    </Section>
</Layout>

<script>
    import { scroll, timeline, type TimelineDefinition } from "motion";
    import type { AnimationPathType } from "@components/CaseStudy/AnimatedImage.astro";

    const animationContainers = document.querySelectorAll(
        "[data-scroll-animation-container]"
    ) as NodeListOf<HTMLElement>;

    // animate all sections' imgs on scroll by animation path
    animationContainers.forEach((animationContainer) => {
        const animationPathDataElements = Array.from(
            animationContainer.querySelectorAll("[data-animation-path]") as NodeListOf<HTMLElement>
        );

        const sequence = animationPathDataElements.map((animationPathDataElement) => {
            const animationPath = JSON.parse(
                animationPathDataElement.dataset.animationPath ?? "[]"
            ) as AnimationPathType;

            const pathsToAnimationMapped = animationPath.map(
                (nextPostion) => `translate(${nextPostion[0]}%, ${nextPostion[1]}%)`
            );

            return [
                animationPathDataElement,
                { transform: ["translate(0, 0)", ...pathsToAnimationMapped] },
                { at: "<" }
            ];
        }) satisfies TimelineDefinition;

        const options = {
            defaultOptions: { ease: "ease" }
        };

        scroll(timeline(sequence, options), { target: animationContainer, offset: ["25% end", "end end"] });
    });
</script>
