---
import PictureLink from "@components/PictureLink.astro";
import Quote from "@components/Quote.astro";
import LayoutProjects from "@layouts/LayoutProjects.astro";
import { Image } from "astro:assets";

import illustrationsThumbnail from "@assets/thumbnails/illustrations.webp";
import logoDisplay from "@assets/projects/boska/logo-display.jpg";
import voucher from "@assets/projects/boska/voucher.png";
import boxPaper from "@assets/projects/boska/box-paper.jpg";
import instaStory from "@assets/projects/boska/insta-story.png";
import background from "@assets/projects/boska/bg-boska.jpg";
---

<LayoutProjects title="project | boska">
    <Fragment slot="hero-background">
        <Image src={background} width={1920} height={1080} loading="eager" alt='"' />
    </Fragment>
    <Fragment slot="services-list">
        <li>Art direction</li>
        <li>Brand identity</li>
        <li>Logo design</li>
    </Fragment>
    <Fragment slot="project-title">BOSKA body cast</Fragment>
    <Fragment slot="project-description">
        <p>
            BOSKA is a brand dedicated to the creation of exquisite body casts – a fusion of elegance and timelessness
            that takes shape in sculpted beauty. The brand embraces the human form as a masterpiece, each of its own.
        </p>
        <p>
            The brand works with customers in an intimate atmosphere, as creating the cast requires showing themselves
            truly as they are. Showing it as highly artistic but also reliable was a challenge I had to uptake. I
            decided to go for modern sans-serif logo and limited brand palette.
        </p>
        <p>
            A premium brand requires high attention to detail on every single touchpoint. Business cards that whisper
            luxury, boxes that carries the essence of sophistication.
        </p>
    </Fragment>
    <Fragment slot="images">
        <Image
            class:list={["col-span-6", "lg:col-span-2"]}
            src={logoDisplay}
            alt="BOSKA logotype blind-embossed on a paper-like beige texture"
            width={Math.floor(logoDisplay.width / 2)}
        />
        <Image
            class:list={["col-span-6", "lg:col-span-4"]}
            src={voucher}
            alt="a hand holding a voucher in minimalistic design printed on a white textured paper"
            width={Math.floor(voucher.width / 2)}
        />
        <Image
            class:list={["col-span-6", "lg:col-span-4"]}
            src={boxPaper}
            alt=" a box with BOSKA logo on top, inside there's paper with design made out of the brand's symbol, Greek letter theta"
            width={Math.floor(boxPaper.width / 2)}
        />
        <Image
            class:list={["col-span-6 object-left-bottom", "lg:col-span-2"]}
            src={instaStory}
            alt="a hand holding a smartphone with an Instagram story on the screen, displaying a sculpture"
            width={Math.floor(instaStory.width / 2)}
        />
    </Fragment>
    <div slot="other" class="flex min-h-screen flex-col justify-evenly">
        <Quote author="OLIMPIA WAWRZAK, the owner">
            From the beginning of our collaboration, Aleksandra perfectly understood what I care about and what I
            expect, offering many valuable comments and ideas herself. The logo she crafted perfectly reflects the idea
            behind my company. The other materials complement it, resulting in a cohesive look of the entire project. I
            can highly recommend her services if you are looking for an exceptional, unique look for your company.
        </Quote>
        <PictureLink
            title="my illustrations"
            subTitle="Next up"
            linkTo="/illustrations"
            linkAccessibleName="link to my illustrations"
            src={illustrationsThumbnail}
            alt=""
        />
    </div>
</LayoutProjects>
