---
import PictureLink from "@components/PictureLink.astro";
import Quote from "@components/Quote.astro";
import LayoutProjects from "@layouts/LayoutProjects.astro";
import { Image } from "astro:assets";
import tobiasThumbnail from "@assets/thumbnails/tobias.jpg";

import background from "@assets/projects/psykologkompassen/bg-psykologkompassen.jpg";
import windowSticker from "@assets/projects/psykologkompassen/grid-1.jpg";
import wrappingPaper from "@assets/projects/psykologkompassen/grid-2.png";
import businessCard from "@assets/projects/psykologkompassen/grid-3.png";
import catalog from "@assets/projects/psykologkompassen/grid-4.jpg";
import logoExplanation from "@assets/projects/psykologkompassen/grid-5.png";
// TODO: alt for all images
// TODO: add link
// TODO: update layout - for small screens look awful - issues
// TODO: update position of hero bg for small screens
// TODO: use properly sized images
// TODO: issues with images with small text
---

<LayoutProjects title="project | psykologkompassen">
    <Fragment slot="hero-background">
        <Image
            src={background}
            width={1920}
            height={1080}
            loading="eager"
            alt='"'
            class:list={["object-[30%_0%]", "lg:object-center"]}
        />
    </Fragment>
    <Fragment slot="services-list">
        <li>Logotype design</li>
        <li>Brand identity</li>
    </Fragment>
    <Fragment slot="project-title">Psykologkompassen</Fragment>
    <Fragment slot="project-description">
        <p>
            The name of the company derives from the psychological need for an inner compass. In order to feel satisfied
            and fulfilled, humans need to have a purpose. It can guide and support them, especially when they need to
            decide which road to take in their life journey.
        </p>
        <p>
            Psykologkompassen's name itself resonates with the very essence of purpose – that magnetic pull that draws
            us towards fulfillment. We intertwined this concept into every visual element, so clients could feel the
            North Star of purpose in every interaction.
        </p>
        <p>
            The visual communication is connected with the name behind meaning and corresponds with the beauty of North
            Swedish nature. Each visual element tells a tale of discovery, mirroring the journey of those seeking
            direction amidst life's vast landscape. I wanted to tell a story of a person seeking a right pathway for
            themselves, finding a way in life and embracing the process.
        </p>
        <p>
            Our branding was a catalyst, turning a mere company into a compass that points to purpose. Clients aren't
            just customers; they're explorers, and Psykologkompassen is their trusted guide.
        </p>
    </Fragment>
    <Fragment slot="images">
        <Image
            class:list={["col-span-6", "lg:col-span-2"]}
            src={windowSticker}
            alt="Psykologkompassen logo presented as a sticker on a window glass"
            width={windowSticker.width / 2}
        />
        <Image
            class:list={["col-span-6", "lg:col-span-2 lg:row-start-2"]}
            src={wrappingPaper}
            alt="a wrapping paper with the pattern made out of Psykologkompassen logo symbol"
            width={wrappingPaper.width / 2}
        />
        <Image
            class:list={["col-span-6", "lg:col-span-4 lg:row-span-2"]}
            src={businessCard}
            alt="a close up of two hands passing each other business card with details of the owner of Psykologkompassen"
            width={businessCard.width / 2}
            quality="max"
        />
        <Image
            class:list={["col-span-6 object-center", "lg:col-span-3"]}
            src={catalog}
            alt="a stationery set presenting Psykologkompassen branding, including two sides of the business card, a black folder with the logo, a piece of branded paper and a white pen"
            width={catalog.width / 2}
        />
        <Image
            class:list={["col-span-6 bg-white !object-contain", "lg:col-span-3"]}
            src={logoExplanation}
            alt="an image explaining the symbolism behind the logo of Psykologkompassen - shows the elements that the symbol corresponds to, such as a human, crossed paths, a star and a circle"
            width={logoExplanation.width / 2}
            quality="max"
        />
    </Fragment>
    <div slot="other" class="flex min-h-screen flex-col justify-evenly">
        <Quote author="Monika Söderlund, CEO">
            It has been a great pleasure and very inspiring to hire Aleksandra. She has listened, asked and listened
            again. She has created a logo that I am happy and proud of. A unique logo - a symbol that tells what my
            company stands for. I can warmly recommend her.
        </Quote>
        <PictureLink
            title="Tobias D.A. Sköld"
            subTitle="Next up"
            linkTo="/projects/tobias-skold"
            linkAccessibleName='link to project: "Tobias D.A. Sköld"'
            src={tobiasThumbnail}
            alt=""
        />
    </div>
</LayoutProjects>
