---
import Navbar from "@components/Navbar/Navbar.astro";
import LayoutBase from "./LayoutBase.astro";
import Footer from "@components/Footer.astro";
import ScrollIndicator from "../components/ScrollIndicator.astro";

interface Props {
    title: string;
    withStickyHeader?: boolean;
}

const { title, withStickyHeader = false } = Astro.props;
const marginTop = "20vh";
const additionalClasses = withStickyHeader ? `sticky top-[${marginTop}] ` : "";
---

<LayoutBase title={title}>
    <Navbar />
    <div class="grow">
        <div>
            <header
                data-header-container
                data-margin-top={marginTop}
                class:list={[`mt-[${marginTop}] text-center font-alexang text-[min(25vw,325px)]`, additionalClasses]}
            >
                <div class="leading-none">
                    <slot name="header" />
                </div>
                <ScrollIndicator />
            </header>
            <main>
                <slot name="scrollable-content" />
            </main>
        </div>
        <slot name="link" />
    </div>
    <Footer />
</LayoutBase>

<script>
    const navbar = document.querySelector("nav") as HTMLElement;
    const headerContainer = document.querySelector("[data-header-container]") as HTMLElement;

    function updateContainerSize() {
        const { height } = navbar.getBoundingClientRect();
        const marginTop = headerContainer.dataset.marginTop ?? "0px";
        headerContainer.style.height = `calc(100vh - ${height}px - ${marginTop})`;
    }

    updateContainerSize();
    window.addEventListener("resize", () => {
        updateContainerSize();
    });
</script>
